#div1{
    margin-left: 10px;
    margin-right: 10px;
}

#div2{
    background-color: rgb(176, 183, 199)
}

#div5{
    margin-top: 5px;
    margin-left: -60px;
}

#div6{
    margin-top: 5px;
    margin-right: -20px;
}

.divs{
    background-color: rgb(190, 198, 202)
}